@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <div class="wrapper wrapper-full-page ">
        <div class="full-page register-page">
            <div class="content">
                <div class="container">
                    <div class="text-center">
                        <img class="svg ignoreSvg img-error" style="width:150px;height: auto;" src="~/management/img/vectors/half-moon.svg" />
                        <h1 class="mt-5 mb-2">Access Denied !</h1>
                        <p class="text-muted">
                            It looks like you don't have permission to access this section.
                        </p>
                        <a href="@ViewData["ReturnUrl"]">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .error-page .img-error {
            width: 200px !important;
            height: auto !important;
        }
    </style>