@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
<div class="wrapper wrapper-full-page ">
    <div class="full-page register-page">
        <div class="content">
            <div class="container">
                <div class="text-center">
                    <img class="svg img-error" style="width:150px;height: auto;" src="~/management/img/vectors/invalid-link.svg" />
                    <h1 class="mt-5 mb-2">Invlalid link :(</h1>
                    <p class="text-muted">
                        The link is whether invalid or expired!
                    </p>
                    <p class="text-muted mb-5">
                        You need a valid refferal link to join Global Business
                    </p>
                    <a href="javascript:void(0)"><i class="mi mi-xs">help</i> Need help?</a>
                </div>
            </div>
        </div>
    </div>
</div>