@{
    ViewData["Title"] = "Confirm email";
    Layout = "_LoginLayout";
}
<div class="wrapper wrapper-full-page ">
    <div class="full-page register-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="m-auto" style="text-align: center">
                        <h1>@ViewData["Title"]</h1>
                        <h4>@ViewBag.StatusMessage</h4>
                        <a asp-action="Login" class="btn btn-gold btn-lg btn-block mb-3">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>