@{
    ViewData["Title"] = "Register Confirmation";
    Layout = "_LoginLayout";
}
<div class="wrapper wrapper-full-page ">
    <div class="full-page register-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="m-auto" style="text-align: center">
                        <h1>@ViewData["Title"]</h1>
                        <h4>Please check your email to confirm your account.</h4>
                        <a href="mailto:support@GlobalBusiness.com" class="btn btn-gold btn-lg btn-block mb-3">Open Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>