@model GlobalBusiness.Infrastructure.DTOs.Auth.RegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}
<div class="wrapper wrapper-full-page ">
    <div class="full-page register-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="m-auto">
                        <div class="card card-register card-white">
                            <form class="form" method="post" asp-action="Register">
                                <input type="hidden" asp-for="ReferralLink" />

                                <div class="card-header">
                                    <img class="card-img" src="~/management/img/card/card-gold.png" />
                                    <h4 class="card-title">Register</h4>
                                </div>
                                <div class="card-body">
                                    <div class="card card-white mb-5">
                                        <div class="card-body">
                                            <h4 class="text-dark">Your parent node</h4>
                                            <div class="d-md-flex justify-content-between">
                                                <div>
                                                    <img class="img img-raised rounded-circle" style="max-width:60px" src="@Model.ParentNode.Image" />
                                                    <span class="ml-3 align-self-center">@Model.ParentNode.Name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-label">
                                                <label asp-for="Firstname"></label>*
                                                <input asp-for="Firstname" class="form-control" placeholder="Firstname" autocomplete="off" />
                                                <span asp-validation-for="Firstname" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-label">
                                                <label asp-for="Lastname"></label>*
                                                <input asp-for="Lastname" class="form-control" placeholder="Lastname" autocomplete="off" />
                                                <span asp-validation-for="Lastname" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email"></label>*
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="mi">email</i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="off" />
                                                </div>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="PassportNumber"></label>*
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="mi">language</i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="PassportNumber" class="form-control" placeholder="Passport number" autocomplete="off" />
                                                </div>
                                                <span asp-validation-for="PassportNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Password"></label>*
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="mi">lock</i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="Password" class="form-control" placeholder="Password" autocomplete="off" />
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="mi">replay</i>
                                                        </div>
                                                    </div>
                                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" autocomplete="off" />
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="form-check text-left">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="AgreedToTerms" type="checkbox">
                                                <span class="form-check-sign"></span>
                                                I agree to the
                                                <a href="javascript:void(0)">terms and conditions</a>.
                                            </label>
                                            <span asp-validation-for="AgreedToTerms" class="text-danger"></span>
                                        </div>*@
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="card-footer mt-0">
                                    <button class="btn btn-gold btn-round btn-lg" type="submit">Get Started</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
