
@{
    ViewBag.Title = "About";
}
<h1>About</h1>

<p>
    HotDoc is Australia’s largest and most trusted patient engagement platform with over 18,000 listed doctors and 6 million active patients.
</p>
<p>
    More than 1 in 4 Australians use HotDoc to connect with their preferred doctor. Patients use the platform to book online and better manage their (and their family’s) health. While practices and practitioners use HotDoc as an all-in-one solution to connect with new and existing patients.
</p>
<p>
    At our core, our mission is to improve the health care experience for everyone in Australia. We do this by giving Forexs access to online bookings, telehealth, appointment reminders, SMS recalls for Forexal reminders and results, mobile and kiosk check-in, digital new patient registration forms, online prescription renewals, and tools for encouraging preventative health.
</p>