<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    Blog
                </a>
            </li>
        </ul>
        <div class="copyright">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="javascript:void(0)">Global Business</a> all rights reserved.
        </div>
    </div>
</footer>