<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                <img class="svg" src="~/management/img/gb.svg" />
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Global Business
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="mi">pie_chart</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="mi">account_box</i>
                    <p>My Profile</p>
                </a>
            </li>

            <li class="active nav-item-open">
                <a data-toggle="collapse" href="#sidebar-invest" aria-expanded="false">
                    <i class="mi">trending_up</i>
                    <p>
                        Investment
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse show" id="sidebar-invest">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    My Balance
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">De</span>
                                <span class="sidebar-normal">
                                    Deposit
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">RI</span>
                                <span class="sidebar-normal">
                                    Reinvest
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini-icon">Pr</span>
                                <span class="sidebar-normal">
                                    Pricing
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            <li>
                <a data-toggle="collapse" href="#sidebar-bonus" aria-expanded="false">
                    <i class="mi">price_change</i>
                    <p>
                        Create Bonus
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sidebar-bonus">
                    <ul class="nav">
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Transfer By ROI & IB
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">De</span>
                                <span class="sidebar-normal">
                                    Transfer User To User
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sidebar-transactions" aria-expanded="false">
                    <i class="mi">payments</i>
                    <p>
                        Transactions
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sidebar-transactions">
                    <ul class="nav">
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Withdraw BY ROI & IB
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Invest History
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Profit History
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Transfers History
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sidebar-income" aria-expanded="false">
                    <i class="mi">account_balance_wallet</i>
                    <p>
                        My Income
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sidebar-income">
                    <ul class="nav">
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Referral Commision
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    Binary Commision
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="sidebar-mini-icon">MB</span>
                                <span class="sidebar-normal">
                                    ROI income
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="mi">device_hub</i>
                    <p>My Network</p>
                </a>
            </li>

            <li>
                <a href="javascript:void(0)" onclick="App.notify('Under construction!','success')">
                    <i class="mi">settings</i>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</div>